body { 
  background: linear-gradient(90deg,#1e3c72,#2a5298);
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 0px 0;
  margin: 0; /* Ensure there's no default margin */
}

.title {
  background: linear-gradient(90deg,#1e3c72,#2a5298);
  color: white;
  font-size: 20px;
  text-shadow: 5px 5px rgb(0,0,0);
  margin: 0px;
  border: none; /* Ensure there's no border */
  box-shadow: none; /* Ensure there's no box shadow */
}

h1 {
  color: white;
}